:root {
  --fc-dark: #000;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 16px;
  color: var(--fc-dark);
}
h2 {
  font-size: 12px;
}
@media (min-width: 600px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
}
